# Logs
logs
*.log
# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.db-*
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json
life360.sh
.ip_authenticated.yaml
ip_bans.yaml
.config_entries.json
*.google.token
.google.token
.ring_cache.pickle
.spotify-token-cache
.storage
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*
known_devices.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
SERVICE_ACCOUNT.json
components
/.ssh
home-assistant.log
snapshot_living_room_sub.jpg
snapshot_dining_table_sub.jpg
snapshot_dining_table_main.jpg
snapshot_aquarium_sub.jpg
home-assistant_v2.db
deps
tts
www/icons
www/floorplans
www/community
www/tmp
www/image
/image
www/upcoming-media-card-images
custom_components/hacs
downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
.cloud
*.pickle
.pc-session
google*.deb
.homekit.state
core.config_entries
core.config_entries.*
config_entries.*
token_extractor
token_extractor.*
/token_extractor
/share
share
